* {
    font-family: Arial, sans-serif;
}

body {
    margin: 0;
}

.js-container {
    max-width: 600px;
    margin: auto;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.input-container {
    display: flex;
    justify-content: center;
    margin: 1.2rem 0;
}

.input-box {
    padding: 12px 20px;
    border-radius: 10px;
    border-width: 1px;
    width: 100%;
    font-size: 15px;
}

.send-btn {
    background-color: rgb(25, 135, 84);
    border: none;
    color: white;
    padding: 12px 20px;
    margin-left: .7rem;
    border-radius: 12px;
    font-size: 16px;
    cursor: pointer;
}

.messages-container {
    flex-grow: 1;
    margin: 1.4rem 0;
    overflow:scroll;
    scrollbar-width: none;
}

.msg-box {
    display: flex;
    margin-bottom: 1.5rem;
}

.user-msg {
    justify-content: end;
}

.msg-box img {
    align-self: start;
}
.msg {
    background-color: rgb(237, 237, 237);
    margin: 0 0.6rem;
    display: flex;
    padding: 15px 20px;
    align-items: center;
    border-radius: 10px;
    max-width: 300px;
}